@font-face {
  font-family: 'Open-Sans';
  src: local('Open-Sans'), url('../public/fonts/OpenSans-Regular.ttf') format('truetype');
}

.container {
  background: #E5E5E5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.accordion__wrapper {
  width: 720px;
}

.third-item {
  background: #3C3C43;
  display: flex;
  align-items: center;
  justify-content: center;
}
